.body {
    line-height: 1.6;
    background-color: white;
    margin: 0 auto;
    font-family: 'Gilroy', sans-serif;
}

html {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}



.container {
    max-width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
}

.mask {
    width: 100%;
    height: 100vh;
    background: #121212;
    position: fixed;
    top: 0;
    z-index: 1001;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loader {
    width: 75px;
    height: 75px;
    border: 10px solid #d95fe7;
    border-radius: 50%;
    border-left-color: #35193a;
    animation: loader 1s linear infinite;

}







            /* Второй блок */




.intro {
    height: 100vh;
    padding-bottom: 265px;
    position: relative;
    background: url(./image/intro/1610164174_22-p-fon-multyashnii-kosmos-41.jpg) center no-repeat;
}


.carousel-container {
    overflow: hidden;
    padding: 0;
    margin-left: 30px;
    max-width: 1200px;
    position: relative;
    top: 300px;
}
  
.carousel-track {
    display: flex;
    transition: .8s ;
}
  
.carousel-item {
    position: relative;
    margin: 0 10px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    border-radius: 10px;
    z-index: 3;
    width: 505px;
    height: 284px;
}

.button__inner {
    width: 1121px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    top: -160px;
    left: -1px;
}

.carousel-item:nth-child(3n+1) { background-color: #121212;}
.carousel-item:nth-child(3n+2) { background-color: #6556b2;}
.carousel-item:nth-child(3n+3) { background-color: #692727;}

.carouselbtn-prev {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

.carouselbtn-next {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

.carouselbtn-next:hover {
    transform: scale(1.05);
    transition: all .5s ease;
}

.carouselbtn-prev:hover {
    transform: scale(1.05);
    transition: all .5s ease;
}


i {
    border: solid rgb(80, 42, 157);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
    
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


            /* Третий блок */


.slide__video {
    margin: 50px 50px 50px 50px;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Alkalami';

}

.slide-container {
    overflow: hidden;
    padding: 0;
    margin-left: 30px;
    max-width: 1200px;
}
  
.slide-track {
    display: flex;
    transition: .8s ;
}
  
.slide-item {
    position: relative;
    margin: 0 10px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    border-radius: 10px;
    z-index: 3;
}

.slide-item:nth-child(3n+1) { background-color: #121212;}
.slide-item:nth-child(3n+2) { background-color: #6556b2;}
.slide-item:nth-child(3n+3) { background-color: #692727;}

.batn-prev {
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid black;
    background-color: white;
}

.batn-next {
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid black;
    background-color: white;
}

.batn-next:hover {
    transform: scale(1.05);
    transition: all .5s ease;
}

.batn-prev:hover {
    transform: scale(1.05);
    transition: all .5s ease;
}



            /* Четвертый блок */


.slider__video {
    margin: 0px 50px 50px 50px;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Alkalami';

}

.container--slider {
    width: 100%;
    margin-top: 50px;
    background: url(../src/image/slider/upperWaveDesktop.svg) repeat-x top center, url(../src/image/slider/downWaveDesktop.svg) repeat-x bottom center, url(../src/image/slider/watch-section-desktop.svg) repeat top center/contain;
    padding-top: 82px;
    padding-bottom: 87px;
}

.slider-container {
    overflow: hidden;
    padding: 0;
    margin-left: 30px;
    max-width: 1200px;
}
  
.slider-track {
    display: flex;
    transition: .8s ;
}
  
.slider-item {
    position: relative;
    margin: 0 10px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    border-radius: 10px;
    z-index: 3;
}
.products__point {
    height: 150px;
    text-decoration: none;
}
.products-grid {
    padding: 0;
    margin-top: 100px;
	grid-column: 3 span;
	display: grid;
	grid-gap: var(--gutter);
	grid-template-columns: repeat(3, 1fr);
}


.products-grid__item {
    width: 100%;
}

.btn-center {
	grid-column: 2 / 4 span;
	text-align: center;
}

.products-grid__item:nth-child(n + 4) {
	display: none;
}

.products-grid__item.is-visible {
	display: block;
}

.pay__products {
    color: white;
    margin-top: 2px;
    font-size: 18px;
    font-weight: 300;
    padding: 0 15px;
}


.slider-item:nth-child(3n+1) { background-color: #121212; min-width: 550px;}
.slider-item:nth-child(3n+2) { background-color: #6556b2; min-width: 550px;}
.slider-item:nth-child(3n+3) { background-color: #692727; min-width: 550px;}

.buttons__inner {
    width: 1115px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    top: -80px;
}

.btn-prev {
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid black;
    background-color: white;
}

.btn-next {
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid black;
    background-color: white;
}

.btn-next:hover {
    transform: scale(1.05);
    transition: all .5s ease;
}

.btn-prev:hover {
    transform: scale(1.05);
    transition: all .5s ease;
}

.slider__season {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex: 50%;
}

.slider__season-1 {
    margin: 0 50px;
    text-decoration: none;
    border: 1px solid white ;
    background-color: white;
    width: 320px;
    border-radius: 20px;
    padding: 17px 60px;
    text-align: center;
    color: #121212;
    font-weight: 500;
    font-size: 18px;
}


            /* Пятый блок */

.planet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    background: url(../src/image/slider/upperWaveDesktop.svg) repeat-x top center, url(../src/image/planet/IMG_2605.jfif) repeat top center/contain;
    padding-top: 66px;
    padding-bottom: 87px; 
}



.about {
    font-weight: 700;
    font-size: 20px;
    font-weight: 400;
}



@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}