.body {
    line-height: 1.6;
    background-color: white;
    margin: 0 auto;
    font-family: 'Nerko One', cursive;
}

html {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}



.container {
    max-width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
}

.mask {
    width: 100%;
    height: 100vh;
    background: #121212;
    position: fixed;
    top: 0;
    z-index: 1001;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loader {
    width: 75px;
    height: 75px;
    border: 10px solid #d95fe7;
    border-radius: 50%;
    border-left-color: #35193a;
    animation: loader 1s linear infinite;

}

.back {
    padding-bottom: 260px;
    position: relative;
    background: url(./image/intro/1610164174_22-p-fon-multyashnii-kosmos-41.jpg) center no-repeat;
}


.book__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: relative;
    top: 100px;
}



.book-main {
 position: relative;
 top: 100px;
}

.book__text {
    font-size: 20px;
    cursor: pointer;
    color: white;
    opacity: 0.9;
    text-decoration: none;
}



.book__text:hover {
    text-decoration: underline;
}

.book__text_vis {
    color: white;
    opacity: 0.9;
}


.slide-container {
    overflow: hidden;
    padding: 0;
    margin-top: 40px;
    margin-left: 30px;
    max-width: 1200px;
    padding-bottom: 150px;
}
  
.slide-track {
    display: flex;
    transition: .8s ;
}


.slide-item {
    position: relative;
    margin: 0px 15px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    border-radius: 10px;
    z-index: 3;
    background-color: #000;
}

.slide-item2,
.slide-item5,
.slide-item8 {
    color: #000;
    font-weight: 900;
    background: url(../src/image/videobook/IMG_2612.PNG) center no-repeat;
}

.slide-item3,
.slide-item6 {
    color: #000;
    font-weight: 900;
    background: url(../src/image/videobook/IMG_2608.JPG) center no-repeat;
}
.slide-item4,
.slide-item7 {
    color: #000;
    font-weight: 900;
    background: url(../src/image/videobook/IMG_2609.PNG) center no-repeat;
}


.products__point {
    height: 150px;
    text-decoration: none;
}

.pay__products {
    position: relative;
    font-size: 19px;
    letter-spacing: -0.2px;
    padding: 0 10px;
    top: -5px;
    z-index: 3;
    text-decoration: none;
}



.slide-watch {
    height: 200px;
    cursor: pointer;
}

.slide-dis {
    position: relative;
    width: 100%;
    top: 25px;
    left: 26px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.slide-name {
    color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1px;
    margin-top: 2px;
}


.show-more {
    margin-top: 50px;
    background: none;
    border: 1px solid black;
    max-width: 1080px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.show-more:hover {
    border: 2.4px solid black; 
}


.grid-container {
	width: 100%;
	display: grid;
	grid-gap: var(--gutter);
	grid-template-columns: repeat(4, 1fr);
}

.products-grid {
    padding: 0;
    margin-top: 100px;
	grid-column: 3 span;
	display: grid;
	grid-gap: var(--gutter);
	grid-template-columns: repeat(3, 1fr);
}


.products-grid__item {
    padding-bottom: 60px;
}

.btn-center {
	grid-column: 2 / 4 span;
	text-align: center;
}

.products-grid__item:nth-child(n + 4) {
	display: none;
}

.products-grid__item.is-visible {
	display: block;
}



.buttons__inner {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    top: -84px;
    left: 5px;
}
.batn-prev {
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
}

.batn-next {
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    width: 30px;
    border: 1px solid black;
    background-color: white;
}

.batn-next:hover {
    transform: scale(1.05);
    transition: all .5s ease;
}

.batn-prev:hover {
    transform: scale(1.05);
    transition: all .5s ease;
}

i {
    border: solid rgb(80, 42, 157);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
    
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}



  .contacts__title {
    margin: 50px;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Alkalami';
}

.contacts__suptitle {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
}





  @keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}